#fig-interactive-experimental-design .relative.inline-block {
  height: 665px;
  padding-bottom: 0 !important;
}

@media (max-width: 640px) {
  #fig-interactive-experimental-design .relative.inline-block {
    height: 455px;
  }
}